<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Adaptive Learning Platform</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="home">
    <p>Adaptive Learning Platform</p>
    <div class="box">
      <a href="#" class="button">Student</a><a href="/list1.ejs" class="button">Teachers</a>
    </div>


  </div>




</body>

</html>
